<%= render "shared/header" %>

<div class="users-index-contents">
  <div class="users-index-title">ユーザー一覧</div>
  <div class="users-index-item">
  <% @users.each do |user| %>
    <div class="user-index-list">
      <%= link_to user.nickname, "#", class: "user-index-name" %>
    </div>  
  <% end %>
  </div>
</div>  