/* ターゲット投稿ページ */

.target-line-form{
  height: 100%;
  width: 100%;
  justify-content: center;
}

.form-title-line{
  justify-content: center;
}

.form-title-text{
  text-align: center;
  width: auto;
  font-size: 40px;
  font-weight: 800;
  padding: 5px;
  color: rgb(38, 0, 255);
}

.form-groups{
  justify-content: center;
  flex-direction: column;
  padding: 0 auto;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.input-default {
  width: 50%;
  margin-top: 5px;
  height: 35px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.devise-btn {
  width: 50%;
  margin: 20px auto;
  padding-left: 150px;
}

.devise-red-btn {
  width: 30%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.select-box{
  height: 30px;
  width: 50%;
  background-color: #f5f5f5;
  padding-left: 20px;
}

.input-getting-off-wrap {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
}

.input-getting-off-wrap select {
  width: 75px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  cursor: pointer;
}

.select-getting-off{
  margin: 5px;
}

.target-btn {
  width: 50%;
  margin: 20px auto;
  padding-left: 150px;
}

.target-red-btn {
  width: 30%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

/* //ターゲット投稿ページ */

/* ターゲット一覧・検索ページ */

.search-form {
  text-align: center;
  padding-top: 32px;
}

.search-form .search-input {
  width: 30%;
  height: 40px;
  margin-right: 10px;
}

.search-form .search-btn {
  width: 10%;
  height: 40px;
  border-radius: 20px;
  background-color: aquamarine;
}


.line-index-content{
  padding: 20px;
}

.line-index-title{
  font-size: 20px;
  font-weight: 500;
}

.line-index-item{
  height: calc(100vh-20px);
  width: 100%;
  display: block;
}

.line-index-list{
  height: auto;
  width: 100%;
  border: #333333 1px solid;
  border-radius: 5px;
  background-color: hwb(100 66% 12%);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.line-index-name{
  text-decoration: none;
  font-size: 40px;
}

.contents-row{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 15%;
}

/* //ターゲット一覧・検索ページ */