/* ユーザー関連 */

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.input-default {
  width: 50%;
  margin-top: 5px;
  height: 35px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.devise-btn {
  width: 50%;
  margin: 20px auto;
  padding-left: 150px;
}

.devise-red-btn {
  width: 30%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

/* //ユーザー関連 */

/* 新規登録ページ */

/* //新規登録ページ */

/* ログインページ */

/* //ログインページ */

/* ユーザー一覧ページ */

.users-index-contents{
  padding: 20px;
}

.greeting{
  margin: 20px 0 30px;
}

.greeting-text{
  font-weight: 700;
}

.users-index-title{
  font-size: 20px;
  font-weight: 500;
}

.users-index-item{
  height: calc(100vh-20px);
  width: 100%;
  display: block;
}

.user-index-list{
  height: auto;
  width: 100%;
  border: #333333 1px solid;
  border-radius: 5px;
  background-color: hwb(172 52% 8%);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.user-index-name{
  text-decoration: none;
  font-size: 40px;
}

/* .friendly-btn{
  height: 30px;
  text-decoration: none;
  color: #333333;
  font-weight: 600;
  border: solid 1px black;
  border-radius: 5px;
  padding: 2px 5px;
  background-color: rgb(225, 230, 176);
} */

/* //ユーザー一覧ページ */